<h1>New Task</h1>

<form action="/tasks" method="post">
  <label for="new_task">New task</label>
  <input id="new_task" name="task[description]" type="text">
  <!-- <input id="new_task_done" name="done" type="hidden" value="false"> -->
  <button>Create new task</button>
</form>
