<h1>Tasks Progress</h2>

<h2>Done:</h2>
<% @tasks.each do |task| %>
  <% if task.done == true %>
    <li><%= task.description %></li>
  <% end %>
<% end %>

<h2>Not Done:</h2>
<% @tasks.each do |task| %>
  <% if task.done == nil %>
    <li><%= task.description %></li>
  <% end %>
<% end %>

